<h1>Compose</h1>
<form action="/" method="post">
    <label for="title">Title</label><br>
    <input type="text" name="title"><br>
    <label for="post">Post</label><br>
    <textarea rows="5" cols="50" name="post"></textarea><br>
    <button type="submit" name="button">Submit</button>
</form>
